@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100vh;
    display: flex;
}

@media only screen and (max-width: 640px) {
    #root {
        flex-direction: column-reverse;
    }
}